certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
Click==7.0
cryptography==2.8
cryptojwt==0.7.10
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
oidcmsg==0.6.3
oidcrp==0.6.3
oidcservice==0.6.4
pycparser==2.19
pycryptodome==3.9.1
pyOpenSSL==19.0.0
pyotp==2.3.0
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
urllib3==1.25.6
Werkzeug==0.16.0
